// 颜色定义规范
$color-background = #E5E6E6
$color-background-w = #FFFFFF
$color-h=#72D0EB
$color-g=#A9D96C
$color-r=#FF6C60
$color-y=#FCCB48
$color-b1=#4B66A0
$color-b2=#55ACEE
$color-b3=#C5E5EE
$color-b3=#A659FC
$color-text = #fff
$color-text-d = #C6CAD6
$color-text-d1 = #AEB2B7
$color-text-b = #2E2E2E

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px